.contentNav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #999999;
}

.contentNav nav ul li {
  width: 50%;
  text-align: center;
}

.contentNav nav ul:last-child {
  margin-right: 0;
}

.contentNav nav ul a {
  width: 100%;
  display: inline-block;
  padding: 16px 0;
  text-decoration: none;
  color: #757575;
  font-size: 12px;
  font-weight: 300;
  transition: color 0.3s ease;
}

.contentNav nav ul a:hover {
  color: #333;
  font-weight: 900;
  border-bottom: 5px solid #333;
}

.contentNav nav ul a__active {
  color: #333;
  font-weight: 900;
  border-bottom: 5px solid #333;
}
