.topContent {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  border-bottom: 1px solid #999999;
}

.topContent__inner {
  padding: 25px 0 12px 0;
  display: flex;
  justify-content: flex-start;
}

.topContent__inner__img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #000;
  margin: 0 50px 0 0;
}

.topContent__inner__smy {
  width: 80%;
}

.topContent__inner__smy__team {
  font-size: 32px;
  font-weight: 900;
  margin: 20px 0 0 0;
}

.topContent__inner__smy__data__flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.topContent__inner__smy__data__flex__wl p {
  font-size: 20px;
  font-weight: 900;
}

.topContent__inner__smy__data__flex__wl span {
  font-size: 48px;
  margin: auto 5px;
}

.topContent__inner__smy__data__flex__category {
  font-size: 18px;
  padding: 0 20px 0  0;
  position: relative;
  top: 16px;
}

.topContent__inner__smy__data__flex__category p {
  font-size: 18px;
  position: relative;
  top: 17px;
}

.topContent__inner__smy__data__border {
  width: 100%;
  background: #cccccc;
  height: 1px;
}

.topContent__inner__smy__data__flexSmy {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.topContent__inner__smy__data__flexSmy dl {
  display: flex;
  justify-content: flex-start;
}

.topContent__inner__smy__data__flexSmy dl dt {
  font-size: 18px;
  margin-right: 10px;
  position: relative;
  top: 14px;
}

.topContent__inner__smy__data__flexSmy dl dd {
  font-size: 32px;
  font-weight: 900;
}
