.scoreFlex {
  display: flex;
  justify-content: space-between;
}

.scoreFlexGred {
  width: 50%;
}

.selectGrid {
  display: grid;
  gap: 0.75em;
  background: #333;
  color: #fff;
  border-radius: 5px;
}
